<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }} | Cal Robotics</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			<link type="text/css" href="/css/sticky-footer-navbar.css" rel="stylesheet">
			<link type="text/css" href="/css/simple-sidebar.css" rel="stylesheet">
			 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
			 <style>
			 	h1{font-size: 60px;}
			 	h3{font-size: 30px;}
			 	p{font-size:17px;}
			 </style>
		</head>
		<body>
			
			<nav class="navbar navbar-default navbar-fixed-top">
			  <div class="container-fluid">
			    <div class="navbar-header">
				  <button type="bsutton" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>                        
			      </button>
			      <a class="navbar-brand" href="/">Cal Robotics</a>
			    </div>
			    <div class="collapse navbar-collapse" id="myNavbar">
			      <ul class="nav navbar-nav">
			        <li><a href="/about">About</a></li>
			        <li><a href="/join">Join</a></li>
			        <li><a href="/projects">Projects</a></li>
			        <li><a href="/related">Related Groups</a></li>
			      </ul>
			    </div>
			  </div>
			</nav>

			<div class="container">
			 <!-- <div style="width:200px; height:50px;"></div> -->
			{{ content }}
			
			</div><!-- /.container -->
			<div class="footer navbar-fixed-bottom">
		      <div class="container">
	        		<p class="text-muted">&#169; 2015 Cal Robotics. Please email ucbrobotics@gmail.com for general inquiries.</li></p>
		      </div>
	    	</div>
		</body>
	</html>