<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
			<link type="text/css" href="/css/sticky-footer-navbar.css" rel="stylesheet">
		</head>
		<body>
			
			<nav class="navbar navbar-default navbar-fixed-top">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="/">UC Berkeley Robotics</a>
			    </div>
			    <div>
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="/">Home</a></li>
			        <li><a href="/about">About</a></li>
			        <li><a href="/contact">Contact</a></li>
			        <li><a href="/join">Join</a></li>
			      </ul>
			    </div>
			  </div>
			</nav>

			<div class="container">
			 <div style="width:200px; height:50px;"></div>
			{{ content }}
			
			</div><!-- /.container -->
			<div class="footer navbar-fixed-bottom">
		      <div class="container">
	        		<p class="text-muted"><a href="jprice@berkeley.edu.com">email</a></li></p>
		      </div>
	    	</div>
		</body>
	</html>