---
layout: default
---

<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>Our Projects</a>
                </li>
                <li>
                    <a href="/projects/robo_games">RoboGames: Combat</a>
                </li>
                <li>
                    <a href="/projects/pizza_bot">Pizza Bot</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        {{ content }}

    </div>