---
layout: default
---

<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>Our Projects</a>
                </li>
                <li>
                    <a href="robo_games">Robo Games</a>
                </li>
                <li>
                    <a href="pizza_bot">Pizza Bot</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        {{ content }}

    </div>