---
layout: default
---

<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>Related Groups</a>
                </li>
                <li>
                    <a href="/related/research">Research Groups</a>
                </li>
                <li>
                    <a href="/related/clubs">Other Clubs</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        {{ content }}

    </div>